.ps-sidebar-root {
    overflow-y: auto !important;
    max-height: 100vh;
    scrollbar-width: thin;
    scrollbar-color: #1a237e var(--bs-body-bg);
}

.ps-sidebar-root::-webkit-scrollbar {
    width: 8px;
}
.ps-sidebar-root::-webkit-scrollbar-thumb {
    background: #1a237e;
    border-radius: 8px;
}
.ps-sidebar-root::-webkit-scrollbar-track {
    background: var(--bs-body-bg);
}

.ps-sidebar-root .sidebar-h2 {
    font-size: 40px;
}

.sidebar-section {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #1a237e var(--bs-body-bg);
    height: 200vh;

}

.sidebar-section::-webkit-scrollbar {
    width: 8px;
}
.sidebar-section::-webkit-scrollbar-thumb {
    background: #1a237e;
    border-radius: 8px;
}
.sidebar-section::-webkit-scrollbar-track {
    background: var(--bs-body-bg);
}



.sidebar-components .sidebar-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-section .ps-menuitem-root,
.sidebar-section .ps-menu-button,
.sidebar-section .ps-submenu-root,
.sidebar-section .ps-menu-label {
    color: white !important;
    font-size: 0.75rem;
    font-weight: 500;
    
}

.sidebar-section .ps-menuitem-root:hover,
.sidebar-section .ps-menu-button:hover,
.sidebar-section .ps-submenu-root:hover {
    background: #1a237e !important;
    color: #1a237e !important;
}

.sidebar-section .ps-menu-icon {
    color: #1a237e !important;
}

.sidebar-section .ps-menu-root,
.sidebar-section .ps-submenu-content {
    background: var(--bs-body-bg) !important;
}

.sidebar-logo {
    font-size:1.4rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    padding-top: 15px;
    padding-left: 10px;
    display: block;
}